.boringGrid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-row-gap: 30px;
}

@media (min-width: 767px) {
  .boringGrid {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
  }
}
