.contentWr {
  display: grid;
  grid-template-columns: 1fr 380px;
  align-items: start;
  grid-column-gap: 20px;
}

.enigma_1 {

}

.title {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2em;
  color: #363636;
  margin-bottom: .8em;
}

.text {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6em;
  color: #303030;
}

.enigma_1_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.enigma_1_1 .name {
  font-family: Rubik, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4em;
  color: #000;
}

.enigma_1_1 .name br {
  display: none;
}

.enigma_1_1 .position {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6em;
  color: #000;
}

.signature {
  max-width: 100%;
  width: 222px;
  display: block;
  margin-right: 50px;
}

.enigma_2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #0C9A56;
  text-align: center;
  padding: 88px 30px 30px;
}

.picture {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 126px;
  height: 126px;
  display: block;
  border-radius: 50%;
}

.enigma_2 .position {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6em;
  color: #4A4A4A;
}

.enigma_2 .name {
  font-family: Rubik, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4em;
  color: #000;
  margin: 4px 0 10px;
}

.quote {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6em;
  font-style: italic;
  color: #4A4A4A;
}

.socialNetworks {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-top: 22px;
}

.socialNetworks svg {
  width: 32px;
  height: 32px;
}

@media (max-width: 1024px) {
  .contentWr {
    grid-template-columns: 1fr 320px;
  }

  .title {
    font-size: 28px;
  }

  .enigma_1_1 {
    margin-top: 20px;
  }

  .enigma_1_1 .name {
    font-size: 16px;
  }

  .signature {
    margin-right: unset;
  }

  .enigma_2 {
    padding: 88px 24px 24px;
  }
}

@media (max-width: 767px) {
  .contentWr {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 116px;
  }

  .title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 1em;
  }

  .enigma_1_1 {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .enigma_1_1 .position {
    text-align: center;
    margin: 4px 0 22px;
  }

  .enigma_1_1 .name br {
    display: block;
  }

  .enigma_2 {
    max-width: 380px;
    padding: 88px 18px 36px;
  }

  .socialNetworks {
    column-gap: 20px;
  }
}
