*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  font: 400 16px/1.4em Rubik;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  position: relative;
  z-index: 1;
}

.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: calc(50% - 190px);
  z-index: 2;
}

.hero-bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-tuning {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
}

.hero .container {
  position: relative;
  z-index: 3;
  min-height: 570px;
  display: flex;
  align-items: center;
}

.hero__content-wrapper {
  max-width: 580px;
  background: #0C9A56;
  color: #fff;
  padding: 54px 50px 64px 40px;
}

.hero-title {
  font-weight: 600;
  font-size: 42px;
  line-height: 1.4em;
  text-transform: uppercase;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6em;
  margin-top: 1.2em;
}

.hero__next {
  position: absolute;
  right: 10px;
  bottom: -24px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0C9A56;
}

.hero__next svg {
  height: 26px;
}

@media (max-width: 1199px) {
  .hero .container {
    min-height: 470px;
  }

  .hero__content-wrapper {
    max-width: 580px;
    padding: 44px 40px;
  }

  .hero-title {
    font-size: 38px;
  }
}

@media (max-width: 991px) {
  .hero .container {
    min-height: 470px;
  }

  .hero__content-wrapper {
    max-width: 462px;
    padding: 38px 34px;
  }

  .hero-title {
    font-size: 34px;
  }

  .hero-subtitle {
    font-size: 14px;
  }

  .hero__next {
    bottom: -20px;
    width: 60px;
    height: 60px;
  }

  .hero__next svg {
    height: 22px;
  }
}

@media (max-width: 767px) {
  .hero-bg {
    left: 0;
  }

  .hero .container {
    min-height: 450px;
    justify-content: center;
    align-items: flex-start;
  }

  .hero__content-wrapper {
    max-width: 388px;
    padding: 24px 15px;
    margin-right: -10px;
    margin-left: -10px;
  }

  .hero-title {
    font-size: 24px;
  }

  .hero-subtitle {
    margin-top: 1em;
  }

  .hero__next {
    right: unset;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    width: 56px;
    height: 56px;
  }

  .hero__next svg {
    height: 18px;
  }
}

.about__content-wrapper {
  margin-bottom: 110px;
}

.our-mission {
  margin-bottom: 110px;
}

.our-mission__content-wrapper {
  background: #0C9A56;
  color: #fff;
  text-align: center;
  padding: 60px 22px 22px;
}

.our-mission-title {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.4em;
  margin-bottom: 20px;
}

.our-mission-text {
  max-width: 780px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6em;
  margin: 0 auto;
}

.our-employment {

}

.our-employment__content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.unordered-list_square {

}

.unordered-list_square li {
  display: flex;
  column-gap: 16px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4em;
  color: #000;
}

.unordered-list_square li:before {
  flex-shrink: 0;
  content: '';
  width: 10px;
  height: 10px;
  background: #0C9A56;
  border-radius: 2px;
  margin-top: .4em;
}

.unordered-list_square li:not(:last-of-type) {
  margin-bottom: 24px;
}

.our-employment__img-wrapper {
  position: relative;
}

.img-wr {
  position: absolute;
  width: 300px;
  height: 374px;
}

.img-wr_1 {
  top: 0;
  left: 0;
  z-index: 2;
  background: black;
}

.img-wr_1:before {
  content: '';
  position: absolute;
  top: -18px;
  right: -18px;
  bottom: 18px;
  left: 18px;
  z-index: 1;
  display: block;
  background: #0C9A56;
}

.img-wr_2 {
  top: -32px;
  right: 0;
  z-index: 1;
  background: pink;
}

.img-wr img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.hash {
  background: lightpink;
}

.hash__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 64px;
}

.hash__content_left {
  position: relative;
}

.hash-image-wr {
  position: absolute;
  width: 300px;
  height: 360px;
}

.hash-image-wr img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.hash-image-wr_1 {
  bottom: 0;
  left: 0;
  z-index: 2;
  background: pink;
}

.hash-image-wr_1:before {
  content: '';
  position: absolute;
  top: -18px;
  right: -18px;
  bottom: 18px;
  left: 18px;
  z-index: 1;
  display: block;
  background: #0C9A56;
}

.hash-image-wr_2 {
  top: 0;
  right: 0;
  z-index: 1;
  background: dodgerblue;
}

.hash__content_right {

}

.hash__content_title {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4em;
  color: #000;
  margin-bottom: 8px;
}

.hash__content_text {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6em;
  color: #000;
}

.hash .line {
  max-width: 180px;
  border: 2px solid #0C9A56;
  margin: 16px 0;
}

.hash-copy-btn {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4em;
  color: #0C9A56;
  text-decoration-line: underline;
  margin-top: 18px;
}

.hash-copy-btn svg {
  width: 17px;
}
